*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: macondo;
  }
  
  .header{
    height: 10%;
    width: 100%;
    padding: 0 8%;
    background-color: black;
    position: relative;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navlinks{
    padding: 28px 0;
  }
  
  .navlinks li{
    display: inline-block;
    margin: 0 15px;
  }
  
  .navlinks li a{
    text-decoration: none;
    color: white;
    padding: 5 0;
    position: relative;
    font-size: 15px;
    font-family: macondo;
  }
  
  .navlinks li a::after{
    content: '';
    background: #ff3d00;
    width:0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
  }
  
  .navlinks li a:hover::after{
    width: 100%;
  }
  
  .welcomeheader{
    padding-top: 10%;
    color: white;
  }
  
  h1{
    color:white;
    font-size: 30px;
  }
  
  .footer{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
  }
  
  .footer{
    padding-top: 30px;
    padding-left: 10px;
  }

  .linkedinimg{
    width: 20px;
    height: 20px;
    z-index: 10;
  }