  .home-paralax{
    /* The image used */
    background-image: url("assets/updated_parthenon.jpg");
  
    /* Set a specific height */
    min-height: 80vh;
    max-width:100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-banner{
    height:100%;
    display:flex;
    flex-direction: column;
  }

  .home-banner p{
    padding-top: 45vh;
    padding-right: 1vw;
    padding-bottom: 2vh;
    color:white;
    text-align: right;
    font-size: 2vw;
  }
  
  .home-banner h2{
    text-align: center;
    font-size: 8vh;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .linkedinimg{
    width: 20px;
    height: 20px;
    z-index: 10;
  }
  
  .about-me{
    width: 75%;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .about-me-header{
    text-align: center;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .p-about-me{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }